.fade-enter {
    opacity: 0;
    transform: translateY(-100%);
  }
  
  .fade-enter-active {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 500ms, transform 500ms;
  }
  
  .fade-exit {
    opacity: 1;
    transform: translateY(0);
  }
  
  .fade-exit-active {
    opacity: 0;
    transform: translateY(100%);
    transition: opacity 500ms, transform 500ms;
  }



  .fade1-enter {
    position: absolute;
    bottom: 0%;
    opacity: 0;
    transform: translateY(-100%);
  }
  
  .fade1-enter-active {
    position: absolute;
    bottom: 0%;
    opacity: 1;
    transform: translateY(0);
    transition: opacity 500ms, transform 500ms;
  }
  
  .fade1-exit {
    position: absolute;
    bottom: 0%;
    opacity: 1;
    transform: translateY(0);
  }
  
  .fade1-exit-active {
    position: absolute;
    bottom: 0%;
    opacity: 0;
    transform: translateY(100%);
    transition: opacity 500ms, transform 500ms;
  }
  
  